bin/
dist/
build_tmp/
editorsuite.pfx
editorsuite.pfx.pass
editorsuite.key
editorsuite.crt
.env.editorsuite
config.json
tools/__pycache__/
core/__pycache__/
gui/__pycache__/
utils/__pycache__/
*.pyc
ui/
EditorSuite_Output/